body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


main {
    padding: 20px;
}
h2{
    text-align: center;
}
.team{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.about-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.our-story, .team {
    margin-bottom: 30px;
}

.team-member {
    margin-bottom: 15px;
}



.app-links img {
    width: 120px;
    margin-right: 10px;
}